# prometheus.yml.j2 template practice

global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_config:
  - job_name: 'prometheus'
    static_configs:
      - targets: '{{ groups["prometheus"] }}'
